<li>
    <a href="{{  url(a_route) }}" title="{{ a_title|trans({},"views") }}">
        <img src="/admin/images/icons/mainnav/{{ img_path }}" alt="{{ img_alt|trans({},"views") }}" />
        <span>{{ a_text|trans({},"views") }}</span>
    </a>
</li>
